<template>
  <div class="audioPlayer">
    <div class="albumImage">
      <img :src="list[state.currentIndex]['image']" alt="" />
      <p class="title">
        {{ list[state.currentIndex]["title"] }} ({{
          list[state.currentIndex]["artist"]
        }})
      </p>
    </div>

    <div class="progressBar" ref="progressBar" @click="updateProgress">
      <div class="progressCurrent" :style="{ width: state.barWidth }"></div>
    </div>

    <div class="button">
      <div class="prev" @click="prev">
        <i class="zmdi zmdi-skip-previous"></i>
      </div>
      <div class="play" @click="handleCurrentPlayState">
        <i v-show="!state.currentlyPlaying" class="zmdi zmdi-play-circle"></i>
        <i v-show="state.currentlyPlaying" class="zmdi zmdi-pause-circle"></i>
      </div>
      <div class="next" @click="next">
        <i class="zmdi zmdi-skip-next"></i>
      </div>
    </div>

    <div class="playlist">
      <div
        class="item"
        v-for="(item, index) in list"
        :key="index"
        @click="change(index)"
      >
        <div class="salbumImage">
          <img :src="item.image" alt="" />
        </div>
        <p class="title">{{ item.title }}</p>
        <i
          v-show="state.currentIndex === index && state.currentlyPlaying"
          class="zmdi zmdi-view-week"
        ></i>
      </div>
    </div>
    <footer>XZY MUSIC CHANNEL</footer>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, PropType, onMounted, ref } from "vue";

export default defineComponent({
  name: "AudioPlayer",
  props: {
    list: Array as PropType<Record<string, string>[]>,
  },
  setup(props) {
    const state = reactive<{
      currentIndex: number;
      audio: HTMLAudioElement | null;
      currentlyPlaying: boolean;
      barWidth: string;
      playState: string;
    }>({
      currentIndex: 0,
      audio: null,
      currentlyPlaying: false,
      barWidth: "0%",
      playState: " - 読み込み中",
    });

    const progressBar = ref<HTMLDivElement>();

    onMounted(() => {
      createAudio(state.currentIndex);
    });

    const createAudio = (index: number) => {
      const { list } = props;
      if (typeof list === "undefined") return;

      const musicFile = list[index]["url"];
      state.audio = new Audio(musicFile);
      state.audio.load();

      state.audio.onloadeddata = () => {
        state.playState = " - 読み込み中";
      };

      state.audio.onwaiting = () => {
        state.playState = " - 読み込み中";
      };

      state.audio.oncanplaythrough = () => {
        state.playState = "";
      };

      state.audio.onerror = () => {
        alert("再度、QRコードを読み込んで接続をご確認ください。");
      };

      state.audio.ontimeupdate = () => {
        generateTime();
      };

      state.audio.onloadedmetadata = () => {
        generateTime();
      };

      state.audio.onended = () => {
        state.currentlyPlaying = false;
      };
    };

    const play = () => {
      const playPromise = state.audio?.play();
      if (playPromise !== undefined) {
        playPromise
          .then(() => {
            state.currentlyPlaying = true;
          })
          .catch(() => {
            console.log("error");
          });
      }
    };

    const pause = () => {
      state.audio?.pause();
      state.currentlyPlaying = false;
    };

    const handleCurrentPlayState = () => {
      if (!state.audio) return;
      if (state.audio.paused) {
        play();
      } else {
        pause();
      }
    };

    const next = () => {
      const { list } = props;
      if (typeof list === "undefined") return;

      if (state.currentIndex < list.length - 1) {
        state.currentIndex += 1;
      } else {
        state.currentIndex = 0;
      }

      change(state.currentIndex, true);
    };

    const prev = () => {
      const { list } = props;
      if (typeof list === "undefined") return;
      if (state.currentIndex > 0) {
        state.currentIndex -= 1;
      } else {
        state.currentIndex = list.length - 1;
      }

      change(state.currentIndex, true);
    };

    const change = (index: number, isControlBar?: true) => {
      if (!isControlBar && index === state.currentIndex) return;

      state.currentIndex = index;
      const { list } = props;
      if (typeof list === "undefined") return;
      state.barWidth = "0%";
      if (!state.audio) return;
      state.audio.currentTime = 0;
      state.audio.src = list[index]["url"];

      play();
    };

    const currentData = () => {
      const { list } = props;
      if (list === undefined) return;
      return list[state.currentIndex];
    };

    const generateTime = () => {
      if (!state.audio) return;
      const width = (state.audio.currentTime / state.audio.duration) * 100;
      state.barWidth = `${width}%`;
    };

    const seek = (x: number) => {
      const progress = progressBar?.value;
      if (typeof progress === "undefined") return;
      if (!state.audio) return;
      const percent = x / progress.offsetWidth;

      if (!state.audio.currentTime) return;
      state.audio.currentTime = Number(
        (state.audio.duration * percent).toFixed(5)
      );

      state.barWidth = `${percent * 100}%`;

      play();
    };

    const updateProgress = (e: MouseEvent) => {
      seek(e.offsetX);
    };

    return {
      state,
      currentData,
      handleCurrentPlayState,
      play,
      prev,
      next,
      change,
      progressBar,
      updateProgress,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.audioPlayer {
  width: 350px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  padding-bottom: 10px;
  border-radius: 12px;
}

.albumImage {
  margin: 0 auto;
  padding: 25px 25px 0 25px;
}

.albumImage .title {
  text-align: left;
  font-weight: bold;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.playlist {
  border-top: 1px solid rgba(169, 169, 169, 0.5);
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 25px;
  border-bottom: 1px solid rgba(169, 169, 169, 0.5);
  text-align: left;
}
.salbumImage {
  width: 40px;
  margin-right: 10px;
}

progress {
  width: 100%;
}

.progressBar {
  margin: 0 25px;
  height: 4px;
  background-color: rgb(92, 91, 91);
}

.progressCurrent {
  height: inherit;
  background-color: rgb(255, 255, 255);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zmdi-view-week {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.5);
}

.play {
  font-size: 70px;
}
.prev,
.next {
  font-size: 40px;
}

.button div {
  cursor: pointer;
  padding: 0 15px;
}

footer {
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 11px;
  color: rgb(84, 84, 84);
}
</style>
