<template>
  <AudioPlayer :list="MusicPlaylist" />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { MusicPlaylist } from "./utils/model";
import AudioPlayer from "./components/AudioPlayer.vue";

export default defineComponent({
  name: "App",
  components: {
    AudioPlayer,
  },
  setup() {
    return {
      MusicPlaylist,
    };
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
